@media screen and (min-width: 768px) {

    /* PLAYSTATION PLUS */
    .play-plus-wrapper .text-plus img {
        width: 50%;
    }
}



@media screen and (min-width: 992px) {

    /* JUMBOTRON  */
    .wrapper-cont-jumbo .logo-jumbo {
        width: 30%;
    }

    /* .text.jumbo {
        width: 40%;
    } */
    /* DA VISIONARE */

    /* TEXT ECCO LA PLAYSTATION 5 */
    .ms-container {
        width: 50%;
        margin: 0 auto;
    }

    /* SECOND BANNER */
    .wrapper-cont-banner .logo-banner {
        width: 20%;
    }

    /* PLAYSTATION PLUS */
    .play-plus-wrapper .text-plus img {
        width: 60%;
    }
}