@media screen and (min-width: 768px) {

    /* PLAYSTATION PLUS/NOW */
    .play-plus-wrapper .text-plus img {
        width: 50%;
    }

    .play-now-wrapper .text-now img {
        width: 50%;
    }

    /* SOCIAL MEDIA */
    .ms-container-socialmedia {
        width: 80%;
        margin: auto;
    }
}



@media screen and (min-width: 992px) {

    /* JUMBOTRON  */
    .wrapper-cont-jumbo .logo-jumbo {
        width: 30%;
    }

    /* .text.jumbo {
        width: 40%;
    } */
    /* DA VISIONARE */

    /* TEXT ECCO LA PLAYSTATION 5 */
    .ms-container {
        width: 50%;
        margin: 0 auto;
    }

    /* SECOND BANNER */
    .wrapper-cont-banner .logo-banner {
        width: 20%;
    }

    /* PLAYSTATION PLUS/NOW */
    .play-plus-wrapper .text-plus img {
        width: 60%;
    }

    .play-now-wrapper .text-now img {
        width: 60%;
    }

    /* SOCIAL MEDIA */
    .ms-container-socialmedia {
        width: 60%;
        margin: auto;
    }
}