/* COMMONS */
img {
    max-width: 100%;
}

/* #region HEADER */
header {
    background-color: black;
}

.logo-sony {
    width: 80px;
    margin-left: auto;
    margin-right: 10px;
}

/* #endregion HEADER */

/* #region JUMBO */
.jumbotron {
    color: white;
    min-height: 500px;
    background-image: url(../archive/img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper-jumbo,
.wrapper-cont-banner {
    height: 500px;
    flex-direction: column;
    justify-content: flex-end;
}

/* #endregion JUMBO */

/* #region MAIN */
.text-console {
    margin: auto;
}

/* SECOND BANNER  */
.banners {
    background-image: url(../archive/img/it-takes-two-hero-banner-desktop.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper-cont-banner .logo-banner {
    width: 60%;
}

/* UPCOMING GAMES */
.upcoming-games {
    background-color: hsl(0, 0%, 12.2%);
    color: white;
    min-height: 300px;
}

/* PLAYSTATION PLUS / NOW */
.play-plus-wrapper {
    background-color: #bebcbb;
}

.play-plus-wrapper .text-plus img {
    width: 80%;
}

.play-plus-banner,
.play-now-banner {
    height: 100%;
}

.play-now-wrapper {
    background-color: #161c3b;
    color: white;
}

.play-now-wrapper .text-now img {
    width: 70%;
}




/* #endregion MAIN */



/* #region FOOTER */
footer {
    background-color: hsl(214.2, 100%, 30.6%);
    color: white;
    min-height: 400px;
}

footer .globe {
    width: 20px;
}


/* #endregion FOOTER */