/* COMMONS */
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.ms_color-blu {
    color: blue;
}

.ms_color-gray {
    color: gray;
}

/* BUTTONS */
.btn-header {
    background-color: #363636;
    border-color: #363636;
    border-radius: 30px;
}

.btn-jumbos {
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    border-radius: 30px;
}


.btn-plus {
    background-color: #d9dadc;
    border-color: #d9dadc;
    color: blue;
    border-radius: 30px;
}

.btn-now {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: black;
    border-radius: 30px;
}

.ms_btn {
    border-radius: 30px;
}


/* #region HEADER */
header {
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}



.logo-sony {
    width: 80px;
    margin-left: auto;
    margin-right: 10px;
}

.cont-lens {
    height: 100%;
}

.lens-navbar {
    width: 25px;
}

/* #endregion HEADER */

/* #region JUMBO */
.jumbotron {
    color: white;
    min-height: 500px;
    background-image: url(../archive/img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
}

.wrapper-jumbo,
.wrapper-cont-banner {
    padding: 2em;
    min-height: 500px;
    flex-direction: column;
    justify-content: flex-end;
}

/* #endregion JUMBO */

/* #region MAIN */
.text-console {
    margin: auto;
}

/* SECOND BANNER  */
.banners {
    background-image: url(../archive/img/it-takes-two-hero-banner-desktop.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* UPCOMING GAMES */
.upcoming-games {
    background-color: hsl(0, 0%, 12.2%);
    color: white;
    min-height: 300px;
}

/* PLAYSTATION PLUS / NOW */
.play-plus-wrapper {
    background-color: #bebcbb;
}

.play-plus-wrapper .text-plus img {
    width: 80%;
}

.play-plus-banner,
.play-now-banner {
    height: 100%;
}

.play-now-wrapper {
    background-color: #161c3b;
    color: white;
}

.play-now-wrapper .text-now img {
    width: 70%;
}


/* #endregion MAIN */

/* #region FOOTER */
footer {
    background-color: hsl(214.2, 100%, 30.6%);
    color: white;
    min-height: 400px;
}

footer .globe {
    width: 20px;
}

.footer-bottom img {
    width: 100px;
}

/* #endregion FOOTER */